/* import icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    color: wheat;
}

html{
    scroll-behavior: smooth;
}
.nav-links{
    color: white;
}
/* Add a bottom border to the navbar links, initially hidden */
a.nav-link {
    color: white;
    padding-bottom: 10px;
    transition: border-color 0.3s ease;
    border-bottom: 2px solid transparent;
}

/* Style the underline on hover */
a.nav-link:hover {
    color: white;
    border-color: aquamarine; /* Change to your desired hover color */
}

#navbar{
    
    margin: auto 0;
    background-color: rgb(17 24 39 / 60%);
    backdrop-filter: blur(12px);

    /* opacity: 0.33; */
    
    /* box-shadow: 10px 5px 5px black; */

}

.home-page{
    height: 1000px;
    backdrop-filter: blur(20px);
    padding: 96px 0 16px 16px;
}

#bg{
    /* height: 5000px;
    padding-top: 4rem; */
    /* background-image: url('/static/media/background.jpg'); */
    background-color: #111827;
    background-image: url('/static/media/rays.426980b9.png');
    background-repeat: space repeat;
    background-position: center;
    
}

/* NAV BAR */
.navbar-brand{
    font-size: 2rem;
}

/* HEADER */
._hello-text h1{
    font-size: 4rem;
}

._hello-text h1 .hello{
    color: aquamarine;
    transition: border-color 0.3s ease;
    border-bottom: 2px solid transparent;
}

._hello-text h2:hover{
    border-color: white;
}

._avatar img{
    width: 54%;
    height: auto;
    border-radius: 200px;
    transition: filter-shadow 0.5s ease-in-out;

    filter: grayscale(100%);
    

}

._avatar img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(17, 24, 33, 40%));
}


/* READ MY BLOG & LEARN MORE ABOUT ME BUTTONS */
.btn{
    font-weight: 600;
}
.read-my-blog{
    background-color: white;
    color: #111827;
    border-color: white;
}

.read-my-blog:hover{
    background-color: transparent;
    color: white;
}



/* BUTTON ANIMATION */
/* LEARN MORE ABOUT ME */
.initial-icon::before{
    content: "\F46B";
    font-family: 'Bootstrap Icons';
}

.hover-icon::before{
    content: "\F468";
}

.icon-button{
    transition: 0.3s;
}

 .icon-button:hover .initial-icon::before{
    content: "\F468";
}

/* READ MY BLOG */

.initial-icon2::before{
    color: #111827;
    font-weight: 600;
    content: '\F135';
}

.icon-button2{
    transition: 0.3s;
}

.icon-button2:hover .initial-icon2::before{
    color: white;
    content: "\F138";
}