{% extends 'base.html' %}


{% block content %}
<div class="home-page container px-4 mx-auto pt-24">
    <div class="container-fluid">

        <div class="row pt-5 pb-5">
            <div class="col-2"></div>
            <div class="col-7 _hello-text d-flex align-items-center p-0 justify-content-center">
                <div class=" container">
                    <div class="row d-flex align-items-center">
                        <div class="col"><h1><span class="hello">Hello!</span> I'm Pahasara;</h1></div></div>
                <div class="row d-flex align-items-center"><div class="col"><h2>Full-Stack Developer, Coding Enthusiast</h2></div></div>

                <div class=" flex justify-content-start">
                    <button class = 'read-my-blog btn btn-primary rounded-pill px-4  icon-button2'><span class="bi initial-icon2"></span> Read my Blog </button>
                    <button class = ' learn-more-about-me btn btn-outline-primary rounded-pill mx-2 px-4 icon-button'><span class="bi initial-icon"></span> Learn more about me  </button>
                </div>

               
                </div>
                
            </div>
            <div class="col-3 _avatar">
                <img src="https://media.licdn.com/dms/image/D4D03AQH12lhZUlmdlQ/profile-displayphoto-shrink_800_800/0/1683215462485?e=1699488000&v=beta&t=9pMSUxqL0wFY7470D6ZAlOao04OQ9gfkF7n78Ib7ax0" alt="">
            </div>
        </div>
        


   
    </div>
</div>

{% endblock content %}